In [5]:
import pandas as pd
from scipy.stats import chi2_contingency

In [8]:
df = pd.read_csv('data/weather.nominal.csv')
df[:5]

    outlook temperature humidity  windy play
0     sunny         hot     high  False   no
1     sunny         hot     high   True   no
2  overcast         hot     high  False  yes
3     rainy        mild     high  False  yes
4     rainy        cool   normal  False  yes

In [10]:
attrs = df.columns
contingency = pd.crosstab(df[attrs[0]], df[attrs[-1]])
contingency
# 각 outlook value에 따른 play(yes,no)의 갯수

play      no  yes
outlook
overcast   0    4
rainy      2    3
sunny      3    2

In [12]:
# Perform chi-square test
chi2 = chi2_contingency(contingency)[0]
chi2

3.5466666666666664

Pearson's Product Moment

In [13]:
# library import
import pandas as pd
from scipy.stats import pearsonr

df = pd.read_csv('data/glass.csv')
df[:5]

,RI,Na,Mg,Al,Si,K,Ca,Ba,Fe,Type
0,1.51793,12.79,3.50,1.12,73.03,0.64,8.77,0.0,0.00,'build wind float'
1,1.51643,12.16,3.52,1.35,72.89,0.57,8.53,0.0,0.00,'vehic wind float'
2,1.51793,13.21,3.48,1.41,72.64,0.59,8.43,0.0,0.00,'build wind float'
3,1.51299,14.40,1.74,1.54,74.55,0.00,7.59,0.0,0.00,tableware
4,1.53393,12.30,0.00,1.00,70.16,0.12,16.19,0.0,0.24,'build wind non-float'

In [14]:
attrs = df.columns
attrs

Index(['RI', ' Na', ' Mg', ' Al', ' Si', ' K', ' Ca', ' Ba', ' Fe', ' Type'], dtype='object')

In [16]:
pearsonr(df[attrs[0]], df[attrs[1]])[0]

-0.19188537903890268

In [17]:
import pandas as pd
import numpy as np

df = pd.read_csv('data/glass.csv')
X = df.values[:,:-1]
print(X.dtype)

object

In [18]:
X = df.values[:,:-1].astype(np.float32)
print(X.dtype)

float32

In [19]:
cov = np.cov(X.T)
pd.DataFrame(cov)

,0,1,2,3,4,5,6,7,8
0,9.222547e-06,-0.000476,-0.000536,-0.000618,-0.001275,-0.000574,0.003502,-5.822457e-07,0.000042
1,-4.758585e-04,0.666841,-0.322422,0.063926,-0.044154,-0.141713,-0.320106,1.326109e-01,-0.019204
2,-5.356125e-04,-0.322422,2.080540,-0.346967,-0.185375,0.005076,-0.910916,-3.530469e-01,0.011674
3,-6.175924e-04,0.063926,-0.346967,0.249270,-0.002136,0.106138,-0.184450,1.190103e-01,-0.003620
4,-1.275011e-03,-0.044154,-0.185375,-0.002136,0.599921,-0.097662,-0.230085,-3.934048e-02,-0.007109
5,-5.740471e-04,-0.141713,0.005076,0.106138,-0.097662,0.425354,-0.295006,-1.382028e-02,-0.000491
6,3.502500e-03,-0.320106,-0.910916,-0.184450,-0.230085,-0.295006,2.025366,-7.984847e-02,0.017329
7,-5.822457e-07,0.132611,-0.353047,0.119010,-0.039340,-0.013820,-0.079848,2.472270e-01,-0.002844
8,4.231763e-05,-0.019204,0.011674,-0.003620,-0.007109,-0.000491,0.017329,-2.843521e-03,0.009494

In [21]:
# 더 보기 힘들다 (DataFrame으로 바꾼이유)
cov

array([[ 9.22254686e-06, -4.75858548e-04, -5.35612483e-04,
        -6.17592389e-04, -1.27501119e-03, -5.74047055e-04,
         3.50249992e-03, -5.82245684e-07,  4.23176307e-05],
       [-4.75858548e-04,  6.66841331e-01, -3.22422144e-01,
         6.39256243e-02, -4.41538408e-02, -1.41712921e-01,
        -3.20106090e-01,  1.32610897e-01, -1.92036402e-02],
       [-5.35612483e-04, -3.22422144e-01,  2.08054037e+00,
        -3.46967416e-01, -1.85375271e-01,  5.07584703e-03,
        -9.10915720e-01, -3.53046928e-01,  1.16737136e-02],
       [-6.17592389e-04,  6.39256243e-02, -3.46967416e-01,
         2.49270179e-01, -2.13597051e-03,  1.06138455e-01,
        -1.84449833e-01,  1.19010334e-01, -3.61952949e-03],
       [-1.27501119e-03, -4.41538408e-02, -1.85375271e-01,
        -2.13597051e-03,  5.99921173e-01, -9.76615444e-02,
        -2.30084871e-01, -3.93404762e-02, -7.10938260e-03],
       [-5.74047055e-04, -1.41712921e-01,  5.07584703e-03,
         1.06138455e-01, -9.76615444e-02,  4.25354208e-01,
        -2.95005703e-01, -1.38202845e-02, -4.90535780e-04],
       [ 3.50249992e-03, -3.20106090e-01, -9.10915720e-01,
        -1.84449833e-01, -2.30084871e-01, -2.95005703e-01,
         2.02536590e+00, -7.98484689e-02,  1.73293751e-02],
       [-5.82245684e-07,  1.32610897e-01, -3.53046928e-01,
         1.19010334e-01, -3.93404762e-02, -1.38202845e-02,
        -7.98484689e-02,  2.47227000e-01, -2.84352146e-03],
       [ 4.23176307e-05, -1.92036402e-02,  1.16737136e-02,
        -3.61952949e-03, -7.10938260e-03, -4.90535780e-04,
         1.73293751e-02, -2.84352146e-03,  9.49430028e-03]])