In [ ]:
# print(np.__version__)
# !pip list

In [1]:
import pandas as pd
df = pd.read_csv('data/glass_missing.csv')
df[:10]

,RI,Na,Mg,Al,Si,K,Ca,Ba,Fe,Type
0,1.51793,12.79,3.50,1.12,73.03,NaN,8.77,0.00,0.00,'build wind float'
1,1.51643,12.16,3.52,1.35,72.89,0.57,8.53,0.00,0.00,'vehic wind float'
2,1.51793,13.21,3.48,1.41,NaN,0.59,8.43,0.00,0.00,'build wind float'
3,1.51299,14.40,1.74,1.54,74.55,NaN,7.59,0.00,0.00,tableware
4,1.53393,12.30,0.00,1.00,70.16,0.12,16.19,NaN,0.24,'build wind non-float'
5,1.51655,12.75,2.85,1.44,73.27,0.57,8.79,0.11,0.22,'build wind non-float'
6,1.51779,13.64,3.65,0.65,73.00,0.06,8.93,0.00,0.00,'vehic wind float'
7,1.51837,13.14,2.84,1.28,72.85,0.55,9.07,0.00,0.00,'build wind float'
8,1.51545,14.14,0.00,2.68,73.39,0.08,9.07,0.61,NaN,headlamps
9,1.51789,13.19,3.90,1.30,72.33,0.55,8.44,0.00,0.28,'build wind non-float'

In [2]:
from sklearn.impute import SimpleImputer
import numpy as np

In [3]:
X = df.values[:,:-1]
y = df.values[:,-1]

imp = SimpleImputer(missing_values=np.nan, strategy='mean')

X_new = imp.fit_transform(X)
X_new[:5]

array([[ 1.51793   , 12.79      ,  3.5       ,  1.12      , 73.03      ,
         0.5043299 ,  8.77      ,  0.        ,  0.        ],
       [ 1.51643   , 12.16      ,  3.52      ,  1.35      , 72.89      ,
         0.57      ,  8.53      ,  0.        ,  0.        ],
       [ 1.51793   , 13.21      ,  3.48      ,  1.41      , 72.67193548,
         0.59      ,  8.43      ,  0.        ,  0.        ],
       [ 1.51299   , 14.4       ,  1.74      ,  1.54      , 74.55      ,
         0.5043299 ,  7.59      ,  0.        ,  0.        ],
       [ 1.53393   , 12.3       ,  0.        ,  1.        , 70.16      ,
         0.12      , 16.19      ,  0.16489691,  0.24      ]])

In [5]:
import pandas as pd
from sklearn.impute import SimpleImputer
import numpy as np

df = pd.read_csv('data/weather.nominal_missing.csv')

X = df.values[:, :-1]
y = df.values[:, -1]

imp = SimpleImputer(missing_values=np.nan, strategy='most_frequent')
X_new = imp.fit_transform(X)
X_new[:5]

array([['sunny', 'hot', 'high', False],
       ['sunny', 'mild', 'high', True],
       ['overcast', 'hot', 'high', False],
       ['rainy', 'mild', 'high', False],
       ['rainy', 'cool', 'normal', False]], dtype=object)

In [12]:
imp = SimpleImputer(missing_values=np.nan, 
                    strategy='constant', 
                    fill_value=0)
imp.fit(X)
print(imp.statistics_)

[0 0 0 0]